<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Vue-Typescript</title>
  <link rel='stylesheet' href='/css/style.css' />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no,maximum-scale=1.0">
  <meta name="description" content="">
  <link rel="canonical" href="">
</head>
<body>
  <div id='app'>
  </div>
  <script>
    document.write('<script src="/js/bundle.js?' + parseInt((new Date) / 1000) + '" async><\/script>')
  </script>
</body>
</html>
